*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}
/* IMport font */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Source+Sans+Pro&display=swap');
/* Class dung chung */
.row-4{
    float:left !important;
}
.row-4 img{
    width: 500px !important;
}
.mgl-30{
    margin-left: 50px !important;
}
/* Main */
#nav {
    height: 45px;
    background:#fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
#nav li{
    display: inline-block;
}
#nav li a{
    margin-left: 20px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 45px;
    font-family: "Gemunu Libre", sans-serif;
    font-size: 24px;
    display: block;
    padding: 0 12px;
}

#nav li:hover a{
    background-color: #ccc;
}
.heading{
    padding: 8px 16px;
    font-size: 24px;
}

.heading__sub-heading{
    padding: 8px 16px;
    font-size: 18px;
}

#content{
    padding: 16px ;
    overflow:hidden;
}

.heading__content{
    padding: 16px ;
}

.content__downloads{
    display: block;
    min-height: 600px;
}
.content__downloads a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.content__downloads button{
    border: none;
    width: 35%;
    padding: 8px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
}
.content__downloads button:hover,
.content__downloads button:hover a{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
#footer{
    position: fixed;
    bottom:0;
    width:100%;
    padding : 5px 0 ;
    background-color: #000;
    text-align: center;
}

#footer p{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    color: #fff;
    margin: 15px 0;
}
