* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
    font-family:Arial, Helvetica
    , sans-serif;
}
/* 
1. Làm gì để CSS đối tượng?
1.1. Xác định vị trí
1.2. Kích thước
1.3. Màu sắc
1.4.Kiểu dáng(kiểu chữ, hình chữ nhật,...)
*/
/* 
Chicago
Thank you, Chicago - A night we won't forget.
*/
/* common */
#main{
    content:"";

}
.text-white{
    color:white !important;
}
.text-center{
    text-align:center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    clear:both;
    display:block;
    content:"";
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-third{
    width:calc(100%/3)
}

.col-half{
    width: 50%;
}
.pull-right{
    float: right !important;
}
.mt-8{
    margin-top:8px !important;
}

.mt-16{
    margin-top:16px !important;
}
.btn{
    padding:11px 16px;
    background-color:#000;
    display:inline-block;
    text-decoration: none;
    color:#fff;
    border-radius:2px;
    margin-top:15px;
    border:none;
}
.btn:hover{
    cursor:pointer;
    color:#000;
    background-color:#ccc;
}

/* Main */
#main{

}
/* Phan dau */
#header{
    height:46px;
    background-color:#000;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1;
    overflow: hidden;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
    
    padding: 0 23px;
    
}
#header .searchu-icon{
    line-height:46px;
    font-size: 18px;
    color:rgb(255, 255, 255);
}
#header .search-btn:hover{
    background-color:#f44336;
    cursor:pointer;
}
#nav li{
    display:inline-block;
}
#nav>li>a{
    color:#fff;
    text-transform: uppercase;
    padding: 0 24px;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    
}

#nav li:hover .subnav{
    display: block;
}


#nav>li:hover>a,
#nav .subnav li:hover a{
    color:#000;
    background-color:#ccc;
    display:inline-block;
    
}

#nav> li{
    display: inline-block;
}

#nav li{
    list-style-type: none;
    position: relative;
}

#nav .subnav{
    position: absolute;
    display: none;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
#nav .subnav li a{
    color: #000;
    width:100%;
    padding: 0 16px;
    line-height: 38px;
    
}

#nav .subnav-btn {
    font-size: 13px;
}
/* End */

/* Slider */
#slider{
    position:relative;
    margin-top:46px;
    width:100%;
    padding-top:50%;
    background: url('/assets/img/sliders/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position:absolute;
    color:#fff;
    bottom:48px;
    left:50%;
    transform: translateX(-50%);
}

#slider .text-heading{
    text-align:center;
    font-weight: 235;
    font-size: 24px;
}

#slider .text-paragraph{
    font-size:15px;
    margin-top: 25px;
}

#content{
    
}

#content .about-section{
    width: 800px;
    min-width: 100%;
    padding: 64px 0 112px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .about-section .about-heading{
    text-align:center;
    font-size:30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .about-section .about-sub-heading{
    margin-top:25px;
    text-align:center;
    font-size:15px;
    font-style: italic;
    opacity:0.6;
}

#content .about-section .about-text{
    margin-top:25px;
    margin-bottom: 16px;
    text-align:justify;
    font-size:15px;
    line-height:1.4;

}
#content .member-list{
    margin:48px 0;
    overflow:hidden;
   
}
#content .member-name{
    font-size:15px;
    
}
#content .member-img{
    margin-top:15px;
    width:154px;
    border-radius:4px;
}
/* Tour */
.tour-section{
    background-color:#000;
}
.tour-section .about-sub-heading{
    margin-bottom:40px;
}

.tour-section .ticket-list{
    width:100%;
    background-color:#fff;
    color:#000;
    list-style-type: none;
}
.tour-section .ticket-list li{
    border-bottom:1px solid #ddd;
    font-size:15px;
    color:#757575;
    padding: 8px 16px;
}
.ticket-list .ticket-off{
    background-color:#f44336;
    color:#fff;
    padding:3px 4px;
    margin-left: 16px;
}
.ticket-list .ticket-remaining{
    float:right;
    background-color:#000;
    width:24px;
    height:24px;
    text-align: center;
    line-height:24px;
    border-radius: 50%;
    color:#fff;
    margin-top: -3px;
}
.place-list{
    margin-top:32px;
    overflow: hidden;
}


.place-img{
    width:100%;
    display: block;
}
.place-img:hover{
    opacity:0.7;
}

.place-body{
    background-color:#fff;
    color:#000;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight:600;
    margin-bottom: 15px;
}

.place-time{
    margin-bottom: 15px;
}

.place-desc{
    margin-bottom: 15px;
}

/* Contact */
.contact-content{
    margin-top:48px;
}

.contact-info{
    font-size: 18px;
    line-height:1.5;
}
.contact-info i[class*="ti-"]{
    width:30px;
    display:inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding:10px;
    border:1px solid #ccc;
    width:100%;
    outline: none;
}

.map-section img{
    width:100%;
}
#footer{
    padding:64px 16px;
    text-align:center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color:rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer p a:hover,
#footer .socials-list a:hover{
    color:rgba(0,0,0,0.4);
}

#footer p{
    margin-top: 15px;
    color:rgba(0,0,0,0.6);
}
#footer p a{
    margin-top: 15px;
    color:rgba(0,0,0,0.6);
}
/* Nope */
.modal{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);
    display:none;
    align-items:center;
    justify-content:center;
}
.open{
    display:flex;
}
.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width:calc(100%-32px);
    min-height:200px;
    position: relative;
    
}
.modal .modal-header{
    height:130px;
    background-color: #009688;
    display:none;
    align-items:center;
    justify-content:center;
    font-size:30px;
    color:#fff;
    letter-spacing:4px;
}
.modal .modal-heading-icon{
    margin-right:16px;
}
.modal .modal-close{
    position: absolute;
    right:0;
    top:0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal .modal-close:hover{
    opacity: 1;
}
.modal .modal-body{
    padding: 16px;
}
.modal .modal-label{
    display:block;
    font-size: 15px;
    margin-bottom:12px;
}
.modal .modal-input{
    width:100%;
    height:40px;
    padding: 8px 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 24px;
}
.modal #modal-pay-btn{
    width:100%;
    font-size:15px;
    background-color:#009688;
    border:none;
    text-transform: uppercase;
    padding:16px 0;
}
.modal #modal-pay-btn:hover{
    opacity: 0.8;
}
.modal .modal-footer{
    padding:16px;
    text-align:right;
}
.modal .modal-footer a{
    color:#2196F3;

}